



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #060B14;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#GiggleCode
{
    width:600px;
    background-color: #1C304F;
    height:auto; 
    margin-bottom: 40px; 
    margin-top: 10px; 
    border-radius: 40px;
}

.GiggleCode h1
    {
        font-family: 'Archivo Black' ;
        text-align: center;
        font-size: 40px; 
        color: white; 
        padding: 20px;
    }

.Links {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 100%;                   
    padding: 20px;               
    box-sizing: border-box;  
    background-color: #365687; 
    box-shadow: 0px 30px 0px rgba(0, 0, 0, 0.7);    
}

.Links a
{
    background-color: #D9D9D9;
    width:200px;
    height:80px;
    font-size: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color:black;
    
    box-shadow: 0px 15px 0px rgba(6,11,20,0.7);
    font-weight: bold;


}

.Item
{
    display: flex;
    flex-direction: column;
    align-items: center;            
    width: 30%;                   
    padding: 20px;               
    box-sizing: border-box;
    text-align: center;
}

#Items
{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 40px;
}


.responsive-image {
    position: absolute;
    max-width: 100%;
    height: auto;
    transform: rotate(10deg);
}

.robot {
    left: 5%;
    top: 80%;
    width: 30vw;
    transform: translateY(-50%) rotate(-10deg);
}

.clown {
    right: 5%;
    top: 90%;
    width: 40vw;
    transform: translateY(-50%) rotate(10deg);
}

.SideButtons {
    display: none;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a6991;
    height: 40%;
    padding: 20px;
    margin-top: 10%;             
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

form h1
{
    font-size: large;
}

form p
{
    font-size: 20px;
}

textarea {
    
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}


@media (max-width: 426px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .GiggleCode
{
    width: 300px;
    background-color: #1C304F;
    height: auto;
    margin: 10px auto 40px; 
    border-radius: 40px;
}

    .GiggleCode h1
    {
        text-align: center;
        font-size: 30px; 
        color: white; 
        padding: 10px;
    }
    
    .Links {
        display: none;     
    }
    
    .Item
    {
        display: flex;
        flex-direction: column;
        align-items: center;            
        width: 250px;                   
        padding: 10px;               
        box-sizing: border-box;
        text-align: center;
    }
    
    #Items
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 40px;
    }


    .responsive-image {
        position: absolute;
        max-width: 100%;
        height: auto;
    }

    .robot {
        left: -10%;
        bottom: 60%;
        width: 190vw;
        transform: rotate(-10deg);
    }

    .clown {
        left: 90%;
        bottom:40%;
        width: 190%;
        transform: rotate(-50deg);
    }


    .SideButtons
{
    display: block;
    position: absolute;
    left: 90%;
    top: 40%;
}


.SideButtons form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .SideButtons label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
  }
  
  .SideButtons  label input {
    position: absolute;
    left: -9999px;
  }
  
  .SideButtons label input:checked + span {
    background-color: #414181;
    color: white;
  }
  
  .SideButtons label span {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 99em;
    transition: 0.25s ease;
    color: #414181;
  }
  
  .SideButtons label span:hover {
    background-color: #d6d6e5;
  }
  
  .SideButtons label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 6px;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
  }

    form
    {
        margin: 0;
    }

    textarea {
        
        height: 50px;
        width: 80%;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        
    }

        form h1
    {
        font-size: 25px;
    }

    form p
    {
        font-size: 18px;
    }
  
}