



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #060B14;
    font-family:'Teachers';
    position: relative;
}

#GiggleCode
{
    width:600px;
    background-color: #1C304F;
    height:auto; 
    margin-bottom: 40px; 
    margin-top: 10px; 
    border-radius: 40px;
}

.GiggleCode h1
    {
        font-family: 'Archivo Black';
        text-align: center;
        font-size: 40px; 
        color: white; 
        padding: 20px;
    }

.Links {
    display: flex;
    justify-content: space-between;
    align-items: center;            
    width: 100%;                   
    padding: 20px;               
    box-sizing: border-box;  
    background-color: #365687; 
    box-shadow: 0px 30px 0px rgba(0, 0, 0, 0.7);    
}

.Links a
{
    background-color: #D9D9D9;
    width:200px;
    height:80px;
    font-size: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    color:black;
    
    box-shadow: 0px 15px 0px rgba(6,11,20,0.7);
    font-weight: bold;


}

.Item
{
    display: flex;
    flex-direction: column;
    align-items: center;            
    width: 30%;                   
    padding: 20px;               
    box-sizing: border-box;
    text-align: center;
}

#Items
{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 40px;
}


.responsive-image {
    position: absolute;
    max-width: 100%;
    height: auto;
    transform: rotate(10deg);
    z-index: 5;
}

.robot {
    left: -10%;
    top: 140%;
    width: 30vw;
    transform: rotate(20deg);
}

.clown {
    right: -10%;
    top: 140%;
    width: 40vw;
    transform: rotate(-30deg);
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a6991;
    height: 40%;
    padding: 20px;
    margin-top: 5%;             
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

form h1
{
    font-size: large;
}

form p
{
    font-size: 20px;
    font-weight: bold;
}

textarea {
    
    height: 50px;
    width: 80%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}

.topnav 
{
    display: none;
}



@media (max-width: 426px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .GiggleCode
{
    width: 300px;
    background-color: #1C304F;
    height: auto;
    margin: 10px auto 40px; 
    border-radius: 40px;
}

    .GiggleCode h1
    {
        text-align: center;
        font-size: 30px; 
        color: white; 
        padding: 10px;
    }
    
    .Links {
        display: none;     
    }

    
    .topnav {
        display: inline;
        overflow: hidden;
        position: relative;
        background-color: #365687; 
        width:100%;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color:black;
        z-index: 10;
    
    box-shadow: 0px 15px 0px rgba(6,11,20,0.7);
    font-weight: bold;
    }
    
    .topnav #myLinks {
        display: none;
        
    }
    
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }
    
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .Link:hover {
        background-color: #ddd;
        color: black;
    }
    
    .active {
        background-color: #04AA6D;
        color: white;
    }
    
    
    .Item
    {
        display: flex;
        flex-direction: column;
        align-items: center;            
        width: 250px;                   
        padding: 10px;               
        box-sizing: border-box;
        text-align: center;
    }
    
    #Items
    {
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding: 40px;
    }

    .robot {
        left: -30%;
        top: 150%;
        width: 70vw;
        transform: rotate(40deg);
    }

    .clown {
        right: -30%;
        top: 130%;
        width: 110vw;
        transform: rotate(-30deg);
    }

    form
    {
        margin: 0;
    }

    textarea {
        
        height: 50px;
        width: 80%;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        
    }

        form h1
    {
        font-size: 25px;
    }

    form p
    {
        font-size: 18px;
    }
  
}